<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;1,300&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/specific_item.css">
    <title>Book Details</title>
</head>
<body>
    <div class="container">
        <div class="section flow-text" id="stuffDetail">
            <h1>Book Details:</h1>
            <table>
                <tr>
                    <th>Title:</th>
                    <td><%=title%></td>
                </tr>
                <tr>
                    <th>Subject:</th>
                    <td><%=subject%></td>
                </tr>
                <tr>
                    <th>Author:</th>
                    <td><%=author%></td>
                </tr>
                <tr>
                    <th>User Info:</th>
                    <td><%=user_info%></td>
                </tr>
                <tr>
                    <th>Additional Info:</th>
                    <td><%=extra_info%></td>
                </tr>
            </table>
            <button onclick="location.href='/full_list'">Return to full list</button>
        </div>

        </div>
    </div>

    <script> M.AutoInit();</script>

</body>
</html>


