<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <div class="container">
        <div class="section flow-text" id="stuffDetail">
            <h1>Book Details:</h1>
            <a class="btn-small waves-effect waves-light" href="/full_list">Full List
                <i class="material-icons left">arrow_back</i>
            </a>
            <table>
                <tr>
                    <th>Title:</th>
                    <td><%=title%></td>
                </tr>
                <tr>
                    <th>Subject:</th>
                    <td><%=subject%></td>
                </tr>
                <tr>
                    <th>Author:</th>
                    <td><%=author%></td>
                </tr>
                <tr>
                    <th>User Info:</th>
                    <td><%=user_info%></td>
                </tr>
                <tr>
                    <th>Additional Info:</th>
                    <td><%=extra_info%></td>
                </tr>
            </table>
        </div>

        </div>
    </div>

    <script> M.AutoInit();</script>

</body>
</html>


